<% form_for :band do |form| %>
  <p>name: <%form.text_field :name, :size=>40%></p>
  <p>:bbq_id</p>
  <p>date: <%form.text_field :play_date%></p>
  <p>start time: <%form.text_field :start_time%></p>
  <p>end time: <%form.text_field :end_time%></p>
<%end%>