<section class="story_container">          
  <div class="title_container">
    <h1 class="article_title"><%= article.full_title -%></h1>
    <ul class="info">
      <li class="time_stamp">
        <%= article.created_at_formatted -%>
      </li>
      <li class="share">
        <%= link_to 'Share', {:action => 'http://www.facebook.com/sharer.php'}, :name => 'fb_share', :title => article.full_title, :type => 'button', :share_url => (url_for :controller=>'news', :action=>'article', :id=>article.permalink, :only_path=>false) -%>
      </li>
    </ul>
  </div>
  
  <%= article.content -%>
</section>