<li class="story">
<section class="story_container">          
  <h1><%= article.title%></h1>
  <%= article.content%>
</section>

<aside class="time_stamp">
  <h3><%= article.created_at%></h3>
  
  <!-- Links up to Facebook/Twitter -->
  <ul class="social_media">
    <li><a href="#" class="facebook">facebook</a></li>
    <li><a href="#" class="twitter">twitter</a></li>
  </ul>
</aside>
</li>
