<% content_for :titleAddon do %>
  <%=@article.title%>
<% end %>

<% content_for :headAddon do %>
  <meta property="og:title" content="<%= @article.full_title %>" />
  <meta property="og:description" content="<%= @article.content[0,200] %>" />
  <meta property="og:image" content="prf_thumbnail" />
<% end %>
  
<section id="page-content" class="news_article">
  <%= render (:partial=> "article", :object=>@article) -%>
</section>

