<!DOCTYPE html>
<html>
  <head>
    <title>PRFBBQ - [News Article Title] </title>
    <meta name="description" content="PRFBBQ - 2010" />
    <meta name="robots" content="robots.txt" />
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
    
    <!-- FAVCONS -->
    <link rel="image/x-icon" href="make favcon"/>
    <link rel="apple-touch-icon" href="make favcon"/>
    <link rel="shortcut icon" href="make favcon" type="image/x-icon"/>
    
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body id="www-prfbbq-com">
    <div id="page-wrapper">
      <header id="page-header">
        <h1>
          <a href="/">
            PRF BBQ
          </a>
        </h1>
      
        <nav id="page-nav">
          <a href="#" class="selected">News</a>
          <a href="#">Present</a>
          <a href="#">Past</a>
        </nav>
        
        <!-- Show only if there are tickets/shows available -->
        <dl class="ticket_info">
          <dt>Tickets</dt>
          <dd><a href="#">CHI/OCT '10</a></dd>
          <dd><a href="#">NYC/DEC '10</a></dd>
        </dl>
      </header>

      <section id="page-content" class="news_article">
        <div class="time_stamp">        
          <h3>10/10/2010</h3>
          <!-- Links up to Facebook/Twitter -->`
          <ul class="social_media">
            <li><a href="#" class="facebook">facebook</a></li>
            <li><a href="#" class="twitter">twitter</a></li>
          </ul>
        </div>
        
        <h1>Chicago BBQ</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non tellus vel dui lobortis tempor ut ut massa. Proin et tellus nisl. Donec non metus ac augue egestas malesuada non vitae sapien. Duis et augue eget erat porttitor tincidunt nec vitae felis. Cras ut mi sed eros volutpat placerat. <a href="#">Praesent sed arcu id</a> neque viverra mollis. Fusce adipiscing est at ipsum vulputate non faucibus magna interdum. Maecenas tortor magna, rutrum vel pulvinar at, mollis in lacus.</p>
        <p>In hac habitasse platea dictumst. In in massa in quam hendrerit gravida sed a purus. Donec placerat tristique laoreet. Proin hendrerit magna et lectus dictum vitae ornare nunc lacinia. Nulla facilisi. Aliquam dui neque, dictum sit amet cursus quis, condimentum eu leo. Pellentesque tempus velit ut mauris condimentum vitae gravida enim accumsan. Quisque ultrices nisi ac tortor malesuada accumsan. In hac habitasse platea dictumst.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non tellus vel dui lobortis tempor ut ut massa. Proin et tellus nisl. Donec non metus ac augue egestas malesuada non vitae sapien. Duis et augue eget erat porttitor tincidunt nec vitae felis. Cras ut mi sed eros volutpat placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non tellus vel dui lobortis tempor ut ut massa. Proin et tellus nisl. Donec non metus ac augue egestas malesuada non vitae sapien.</p>
      </section>
    </div>
    
    <div style="clear:both;"></div>
    <footer id="page-footer">

    </footer>
  </body>
  
  <!-- Javascript -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/utilities.js"></script>
  <script type="text/javascript">
   $(function() {
     
   });
  </script>
</html>