<section id="page-content" class="shows">
  <form id="bbq-nav">
    <select id="year">
      <option value="prompt">Year...</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
    </select>

    <select id="place">
      <option value="prompt">Place...</option>
      <option value="CHI/'10">CHI/'10</option>
      <option value="NYC/'10">NYC/'10</option>
    </select>

    <select id="day">
      <option value="prompt">Day...</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
    </select>
  </form>
  <div style="clear:both;"><div>
  
  <!-- Clicking on a show date should update/replace the contents of #show-info. The structure of the HTML should be pulled from the server via Ajax. On page load, the first BBQ date should show (in this example, Chicago October Thursday) -->
  <section id="show-info">   
    <hgroup class="date">
      <h1>OCTOBER 14th, 2010</h1>
      <h2>8:00pm - 2:00am</h2>
    </hgroup>
    
    <dl class="venue_info">
      <dt>Quencher's Saloon</dt>     
      <dd>1234 N. Western Ave.</dd>
      <dd>Chicago, IL 60647</dd>
    </dl>
    
    <div id="map_canvas">
      <img src="img/map.png" />
    </div>
    
    <!-- For each band submitted, we should give an option for a link. If no link, then there should be no <a> -->
    <ul class="band_list">
      <li><a href="#">Band 1</a> <em>7:00pm</em></li>
      <li><a href="#">Band 2</a> <em>8:00pm</em></li>
      <li><a href="#">Band 3</a> <em>9:00pm</em></li>
      <li><a href="#">Band 4</a> <em>10:00pm</em></li>
      <li><a href="#">Band 5</a> <em>11:00pm</em></li>
    </ul>
    
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non tellus vel dui lobortis tempor ut ut massa. Proin et tellus nisl. Donec non metus ac augue egestas malesuada non vitae sapien. Duis et augue eget erat porttitor tincidunt nec vitae felis. Cras ut mi sed eros volutpat placerat. <a href="#">Praesent sed arcu id</a> neque viverra mollis. Fusce adipiscing est at ipsum vulputate non faucibus magna interdum. Maecenas tortor magna, rutrum vel pulvinar at, mollis in lacus.</p>
    </div>
  </section>
</section>

<% content_for :script do %>
  <script>
    $(function() {
      $('#bbq-nav select').customSelects();
    });
  </script>
<% end %>