<section id="show-info">
  <%= link_to 'Share', {:action => 'http://www.facebook.com/sharer.php'}, :name => 'fb_share', :title => bbq.full_title, :type => 'button', :class => 'share' -%>
  <hgroup>
    <h1 class="article_title"><%= bbq.full_title -%></h1>
  </hgroup>
  
  <!-- For each band submitted, we should give an option for a link. If no link, then there should be no <a> -->
  <%= render (:partial => "schedule", :collection=>bbq.days, :as=>:day)%>
  
  <div class="description">
    <%= bbq.content%>
  </div>
</section>

