<%# TODO: Conditional to change "Upcoming Events to Past Events" when past is used %>
<% content_for :titleAddon do %>
  Upcoming Events
<% end %>

<section id="page-content" class="shows">
  <!-- <form id="select-nav">
    <div class="nav_select_container">
      <select id="year">
        <option value="2009">2009</option>
        <option value="2010">2010</option>
      </select>
    </div>

    <div class="input_container">
      <select id="place">
        <option value="chi-oct">CHI/OCT</option>
        <option value="nyc-dec">NYC/DEC</option>
      </select>
    </div>

    <div class="input_container">
      <select id="day">
        <option value="thu">Thursday</option>
        <option value="fri">Friday</option>
        <option value="sat">Saturday</option>
      </select>
    </div>
    
    <button type="submit">Go</button>
  </form>
  <div style="clear:both;"></div> -->
  
  <%= render (:partial=> "bbq", :collection=>@bbqs) -%>
</section>